{% extends 'receitas/base.html' %}

{% load static %}

{% block content_block %}

    <!-- Page content-->
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog entries-->
            <div class="col-lg-8">

            <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ object.nome }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ object.data_hora }}</div>
                        <!-- Post categories-->
                        {% for tag in object.tags.all %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ tag }}</a>
                        {% endfor %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src={% if object.img %}"{{object.img.url}}"{% else %}"{% static 'receitas/images/default.png' %}"{% endif %} alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <h2 class="fw-bolder mb-4 mt-5">Ingredientes</h2>
                        {% for ingrediente in object.ingrediente_receita.all %}
                            <p class="fs-5 mb-4">{{ ingrediente }}</p>
                        {% endfor %}
                        <h2 class="fw-bolder mb-4 mt-5">Preparo</h2>
                        <p class="fs-5 mb-4">{{ object.preparo }}</p>
                    </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4" method="POST" action="#">
                                {% csrf_token %}
                                <input class="form-control mb-1" type="text" placeholder="Informe seu nome e ..." name="nome"/>
                                <textarea class="form-control" rows="3" placeholder="... deixe um comentário!"></textarea>
                                <button class="btn btn-primary mt-1" id="button-search" type="submit">Comentar</button>
                            </form>
                            <!-- Comments -->
                            {% for comentario in comentarios %}
                                <div class="d-flex mb-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="{% static 'receitas/images/avatar-default-icon.png' %}" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comentario.nome_usuario }}</div>
                                        {{ comentario.texto }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>  
    
            </div>

            {% block side_widgets %}{% endblock side_widgets %}
                
        </div>
    </div>


    
{% endblock content_block %}